body
{
    /* background-color: rgb(6, 6, 49); */
    /* background: linear-gradient(90deg, rgb(6, 6, 49), rgb(8, 60, 105)); */
    background-color: aliceblue;
    font-family: 'Calibri';
}

header
{
    display: flex;
    justify-content: center;
}

.liste
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgb(184, 209, 231);
    width: 55%;
    padding: 7px;
    border-radius: 8px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease .67s;

}

.liste:hover
{
    background-color: rgb(120, 180, 233);

}

.item
{
    font-size: larger;
    transition: all ease .65s;
}


.sous-ligne
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.cercle
{
    padding: 12px;
    border-radius: 55%;
    background-color: rgb(184, 209, 231);
    border-width: 4px;
    border-color: aliceblue;
    display: flex;
    width: 4px;
    animation: alternate scale 1.8s infinite;
    transition: all ease .67s;

}

.cercles
{
    padding: 12px;
    border-radius: 55%;
    background-color: rgb(184, 209, 231);

    display: flex;
    width: 4px;
    animation: alternate-reverse scale 1.8s infinite;
    transition: all ease .67s;
}

.cercles:hover
{
    background-color: rgb(120, 180, 233);
}

.cercle:hover
{
    background-color: rgb(120, 180, 233);
}


/* contenu proprement dite */

.ligne1
{
    display: flex;
    justify-content: center;

    /* background-color: aquamarine; */

    height: 400px;
}

.ligne1 .content
{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */

    width: 70%;
}

.ligne1 .content .img
{
   width: 50%;
   height: 100%px;
   padding: 20px;
   /* background-color: blue; */
}

img.imageP
{
   height: 370px;

   border-top-left-radius: 10px;
   border-bottom-right-radius: 40%;
   border-top-right-radius: 40%;
   border-bottom-left-radius: 40%;

}

hr.inf
{
    width: 80%;
    border-color: gray;
    background-color: gray;
}

.ligne1 .content .infos
{
    /* background-color: brown; */
    width: 50%;
    color: rgb(46, 40, 40);
   
}

.ligne1 .content .infos .nom-prenom
{
   font-size: 3rem;
   align-content: center;

   /* background-color: cadetblue; */

   height: 13%;
}

.ligne1 .content .infos .nom-prenom span
{
    color: rgb(120, 180, 233);
    font-size: 1.2em;
}

.ligne1 .content .infos .coordonnees
{
   /* background-color: chocolate; */
   height: 75%;
   font-size: 1.7rem;
}

.ligne1 .content .infos .coordonnees ul.enum
{
    margin-top: 60px;
}


/* La seconde ligne */

.ligne2
{
    display: flex;
    justify-content: center;
    /* background-color: rgb(128, 117, 139); */
    height: 340px;
}

hr.vertical-lign
{
    height: 92%;
    width: .001%;
    border-color: gray;
    background-color: gray;
    border-width: .1px;
    margin-left: 25px;
}

hr.vertical
{
    height: 80%;
    width: .001%;
    border-color: gray;
    background-color: gray;
    border-width: .1px;
    margin-left: 25px;
}

hr.vertic 
{
    height: 80%;
    width: .001%;
    border-color: gray;
    background-color: gray;
    border-width: .1px;
}

.ligne2 .content2 
{
    /* background-color: azure; */
    width: 90%;
    height: 100%;
    font-size: larger;
    color: rgb(46, 40, 40);

    display: flex;
}

.ligne2 .content2 .competences
{
    /* background-color: rgb(167, 199, 134); */
    width: 50%;
    height: 100%;
}

.titre
{
    font-size: 2rem;
}

.titre span
{
    font-size: 2.4rem;
    color: rgb(120, 180, 233);
}

.ligne2 .content2 .experiences
{
    /* background-color: darkslategrey; */
    width: 50%;
    height: 100%;
}

ul.enum
{
    font-size: 1.3rem;
}

/* ligne3 */

div.ligne3
{
    display: flex;
    /* justify-content: left; */
    height: 290px;
    margin-top: 110px;
    background-color: rgb(224, 224, 224);
}

.content3
{
    width: 50%;
    height: 100%;
}

.other3
{
    padding-top: 85px;
    width: 46%;
    margin-left: -55px;
}

.other4 img
{
   width: 20%;
   height: 20%;
}

/*ligne4 */
.ligne4
{
   display: flex;
   justify-content: right;

   height: 270px;
   background-color: rgb(224, 224, 224);
}

.content4
{
    width: 50%;
    height: 100%;
}

.other4
{
    padding-top: 85px;
    width: 46%;
}

/* .other4 img
{
   width: 20%;
   height: 20%;
} */

/* keyframes */

@keyframes scale{
    0%
    {
       transform: scale(0.8);
    }
}